<%= form_with(url: "/flights", method: "get", local: true) do %>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%= select_tag(:departure_airport_id, options_for_select(@airport_options, selected: params[:departure_airport_id]), { prompt: 'From?' }) %>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%= select_tag(:arrival_airport_id, options_for_select(@airport_options, selected: params[:arrival_airport_id]), { prompt: 'To?' } ) %>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%= select_tag(:passengers_number, options_for_select((1..4), selected: params[:passengers_number]) ) %>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%= select_tag(:day, options_for_select(@day_options), selected: params[:day]) %>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%= select_tag(:month, options_for_select(@month_options), selected: params[:month]) %>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%= select_tag(:year, options_for_select(@year_options), selected: params[:year]) %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <%= submit_tag("Show flights", class: "button is-dark is-outlined") %>
      </div>
    </div>
<% end %>