<section class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-half has-text-left">
          <%= link_to root_path do %>
            <h1 class="title">
              Plain Flight Booker
            </h1>
          <% end %>
        <div class="column is-half has-text-left">
          <%= render "search_form"%>
       </div>
       
      <% if @available_flights.to_a.any? %>
           <div class="column is-half has-text-left">
             <h2 class="title is-4">Flight from <%= Airport.find(params[:departure_airport_id]).name %> to <%= Airport.find(params[:arrival_airport_id]).name %></h2>
             <h2 class="subtitle"> <%= @selected_date.strftime('%B %d, %Y')%></h2>
                <%= render "search_results_form"%>
           </div>
      <% else %>     
          <p>There are no available flights on the selected date</p>
      <% end %>
      </div>
    </div>
  </div>
</section>

